@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --color-primary: #4b63e0;
  --color-primary-dark: #2b3a99;
  --color-primary-soft: #eef0fc;
  --color-danger: #e05050;
  --color-danger-soft: #fbe4e4;
}
